<body>
<main class="grid" *ngIf="!loading">
  <img class="mimage" src="/assets/22m.jpg" alt="Sample photo">
  <img class="limage" src="/assets/23l.jpg" alt="Sample photo">
  <img class="mimage" src="/assets/24m.jpg" alt="Sample photo">
  <img class="mimage" src="/assets/30m.png" alt="Sample photo">
  <img class="mimage" src="/assets/25m.jpg" alt="Sample photo">
  <img class="mimage" src="/assets/15m.jpg" alt="Sample photo">
  <img class="mimage" src="/assets/27m.jpg" alt="Sample photo">
  <img class="mimage" src="/assets/28m.png" alt="Sample photo">
  <img class="mimage" src="/assets/32m.jpg" alt="Sample photo">
  <img class="mimage" src="/assets/26m.jpg" alt="Sample photo">
  <img class="mimage" src="/assets/16m.jpg" alt="Sample photo">
  <img class="mimage" src="/assets/31m.jpg" alt="Sample photo">
</main>
</body>
<div class="spinner" *ngIf="loading" >
  <app-spinner></app-spinner>
</div>