<div class="courses-container" *ngIf="!loading">
	<div class="course" *ngFor="let item of productList">
		<div class="course-preview">
            <div class="discount">-{{item.discountPercentage}}%</div>
			<img class="thum" [src]="item.thumbnail" routerLink="/details/{{item.id}}">
		</div>
		<div class="course-info">
			<div class="progress-container">
                <span class="hint-star star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
                 <span class="progress-text">
					{{item.rating}}
				</span>
			</div>
			<h1>{{item.title}}</h1>
            <h2 [ngClass]="{'limitTextHeight': isReadMore}">
                {{item.description}}
            </h2>
            <h2>{{item.price}} : USD</h2>
            <h3>Brand: {{item.brand}}</h3>
            <h3>Category: {{item.category}}</h3>
            <h3>In Stock: {{item.stock}}</h3>
           <!-- <button class="btn">Add to cart</button> -->
		</div>
	</div>
</div>
<div class="spinner" *ngIf="loading" >
    <app-spinner></app-spinner>
  </div>
